@import "../../styles/constants";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: @main_color;
  padding: @general_padding;

  &_title {
    font-size: @main_title;
    color: @main_color_oposite;
  }

  &_user {
    font-size: @sub_title;
    color: @main_color_oposite;
  }
}
