<app-header [userName]="userName | async" title="Dashboard"></app-header>

<mat-sidenav-container class="dashboard">
  <mat-sidenav class="dashboard_sidebar" #sidenav mode="side" [(opened)]="sidebarOpened">
    <app-categories-list
      [categories]="categories | async"
      (deleteCategory)="onDeleteCategory($event)"
      [selectedCategory]="selectedCategory | async"
      (selectCategory)="selectCategory($event)"
      (addNewCategory)="addNewCategory()"></app-categories-list>
  </mat-sidenav>
  <mat-sidenav-content class="dashboard_content">
    <div class="dashboard_content_controls">
      <button mat-button (click)="toggleSidebar()">
        <mat-icon *ngIf="sidebarOpened" matTooltip="Hide sidebar">arrow_back</mat-icon>
        <mat-icon *ngIf="!sidebarOpened" matTooltip="Show sidebar">arrow_forward</mat-icon>
      </button>
      <button mat-button
              *ngIf="!!(selectedCategory | async)"
              (click)="addNewPayment()">Add payment</button>
    </div>
    <div class="dashboard_content_info">
      <div class="dashboard_content_info_main">
        <app-payment *ngIf="!!(selectedPayment | async)"
                     [payment]="selectedPayment | async"
                     (deletePayment)="onDeletePayment($event)"></app-payment>
        </div>
      <div>
        <app-payment-list *ngIf="!!(payments | async)"
                          [payments]="payments | async"
                          [currencyExchange]="currencyExchange | async"
                          (selectPayment)="selectPayment($event)"></app-payment-list>
        </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
