<app-header [userName]="userName | async" [amount]="50000" title="Dashboard"></app-header>

<mat-sidenav-container class="dashboard">
  <mat-sidenav class="dashboard_sidebar" #sidenav mode="side" [(opened)]="sidebarOpened">
    <app-categories-list
      [categories]="categories | async"
      [selectedCategory]="selectedCategory | async"
      (selectCategory)="selectCategory($event)"
      (addNewCategory)="addNewCategory()"></app-categories-list>
  </mat-sidenav>
  <mat-sidenav-content class="dashboard_content">
    <div class="dashboard_content_controls">
      <button mat-button (click)="toggleSidebar()">
        <mat-icon *ngIf="sidebarOpened" matTooltip="Hide sidebar">arrow_back</mat-icon>
        <mat-icon *ngIf="!sidebarOpened" matTooltip="Show sidebar">arrow_forward</mat-icon>
      </button>
      <button mat-raised-button color="primary"
              [class.dashboard_content_close]="sidebarOpened"
              (click)="makePayment()"
              *ngIf="selectedCategory | async">
        Add payment to category {{(selectedCategory | async).name}}
      </button>
    </div>
    <app-category [category]="selectedCategory | async"
                  [currencyExchange]="currencyExchange | async"
                  [payments]="payments | async"
                  [selectedPayment]="selectedPayment | async"
                  [class.dashboard_content_close]="sidebarOpened"
                  (selectPayment)="selectPayment($event)"></app-category>
  </mat-sidenav-content>
</mat-sidenav-container>
