@import '../../../styles/constants';

.category {
  height: calc(100vh - (@header_height * 2 + @general_padding));
  position: relative;

  &_header {
    display: flex;
    justify-content: space-between;
    padding: @general_padding;

    &_title{
      &_name {
        font-size: @main_title;
      }

      &_description {
        font-size: @description_title;
      }
    }
  }
}
