<section *ngIf="!!category" class="category">
  <div class="category_header">
    <div class="category_header_title">
      <h1 class="category_header_title_name">{{category.name}}</h1>
      <h2 class="category_header_title_description">{{category.description}}</h2>
    </div>
    <div class="category_header_percent">Part in general payment: {{category.percent}} %</div>
  </div>
  <div class="category_content">
    <app-payment-list [payments]="payments"
                      [currencyExchange]="currencyExchange"
                      (selectPayment)="selectPayment.emit($event)"></app-payment-list>
    <app-payment [payment]="selectedPayment"></app-payment>
  </div>
</section>
