<section *ngIf="!!category" class="category">
  <div class="category_header">
    <div class="category_header_title">
      <h1 class="category_header_title_name">{{category.name}}</h1>
      <h2 class="category_header_title_description">{{category.description}}</h2>
    </div>
    <div class="category_header_percent">Part in general payment: {{category.percent}} %</div>
  </div>
  <div class="category_payments">
    <table mat-table
           [dataSource]="payments" multiTemplateDataRows
           class="category_payments_table">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
        <th class="category_payments_table_field" mat-header-cell *matHeaderCellDef> {{column}}</th>
        <td class="category_payments_table_field" mat-cell *matCellDef="let element"> {{element[column]}} {{column === 'amount' ? element.currency : ''}}</td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-position"> {{element.description}}2</div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

  </div>
</section>
