<section class="category">
  <div class="category_header">
    <i class="material-icons category_header_add" (click)="back()">chevron_left</i>
    {{(category | async).name}}
    <button mat-flat-button
            color="primary"
            (click)="visualizeCategory()">Visualize category</button>
  </div>
  <div class="category_body">
    <app-payment-list class="payment_list"
                      *ngIf="!!(payments | async)"
                      [payments]="payments | async"
                      (selectPayment)="selectPayment($event)">
    </app-payment-list>
  </div>
</section>

