@import '../../../styles/constants';

.payments {
  display: inline-block;
  background: #fff;
  height: calc(100vh - (@main_row_height * 2));
  overflow-y: scroll;
  width: 100%;

  &_table {
    width: 100%;

    &_field {
      padding: @general_padding;
      cursor: pointer;

      &-bold {
        font-weight: @text_bold;
      }
    }
  }
}
