@import '../../../styles/constants';

.categories{

  &_add{
    display: flex;
    justify-content: flex-end;
    background: @color_shadow;
    padding: @general_padding;

    &_icon {
      cursor: pointer;
    }
  }

  &_list{
    padding: @general_padding;
  }
}
