@import '../../../styles/constants';

.categories {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .preview {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: @general_margin-medium;
    padding: @general_padding_small;
    background: @color_shadow;
    cursor: pointer;

    &:hover {
      box-shadow: 10px 10px 50px rgba(0,0,0,0.5);
    }

    &_header {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &_name {
      font-size: @font_size_large;
      font-weight: @text_bold;
    }

    &_description {
      font-size: @font_size_extra_small;
      font-style: italic;
      text-align: center;
    }
  }

  &_add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: @general_margin-medium;
    background: @color_shadow;
    color: @main_color_opposite;
    font-size: 80px;
    cursor: pointer;

    &:hover {
      box-shadow: 10px 10px 50px rgba(0,0,0,0.5);
    }
  }
}
