<div class="categories">
  <div class="preview"
       *ngFor="let category of (categories | async)"
       (click)="selectCategory(category._id)">
    <div class="preview_header">
      <div>{{category.percent}} %</div>
      <mat-icon (click)="deletePayment(category._id)"
                matTooltip="Delete category">delete</mat-icon>
    </div>
    <div class="preview_name">{{category.name}}</div>
    <div class="preview_description">{{category.description}}</div>
  </div>
  <div class="categories_add" (click)="addCategory()">+</div>
</div>
