<section class="payment" *ngIf="!!payment">
  <div class="payment_header">
    <div class="payment_header_amount">{{payment.amount}} {{payment.currency}}</div>
    <div>{{payment.created_date | date}}</div>
  </div>
  <div class="payment_info">
    <div class="payment_info_main">
      <app-toggle-field [data]="payment.description"
                        (onChange)="onDescriptionChange($event)"
                        placeholder="Description"></app-toggle-field>
      <div>Check type please: cash, bank-debit, papers</div>
    </div>
    <div class="payment_info_bar">
      <button mat-button (click)="onDelete()">Delete</button>
    </div>
  </div>
</section>
