@import '../../../styles/constants';

.payment {
  margin: @general_padding;
  padding: @general_padding;
  border-radius: 5px;
  background: @main_color_opposite;

  &_header {
    display: flex;
    justify-content: space-between;

    &_amount {
      font-size: @font_size_extra_large;
    }
  }

  &_info {
    display: flex;
    justify-content: space-between;
  }
}
