@import './color.constants.less';
@import './media.constants.less';
@import './font.constants.less';
@import './size.constants.less';

@fast_transform: 0.1s ease-in;

.centering {
  width: 80%;
  margin: 0 auto;

  @media screen and (max-width: @media_tablet) {
    width: 100%;
  }
}

.clickable_link {
  cursor: pointer;
  color: @text_neutral_color;
  transition: color @fast_transform;

  &:hover {
    color: @text_neutral_color_hover;
  }
}
