
// COLORS
@main_color: #4250AF;
@main_color_opposite: #fff;
@color_shadow: #F2F1F2;
@color_shadow_opposite: #FFFFFF;

// FONT SIZES

@font_size_extra_small: 12x;
@font_size_small: 14x;
@font_size_normal: 16px;
@font_size_large: 18px;

@font_size_extra_large: 20px;
@main_title: @font_size_large;
@sub_title: @font_size_normal;
@description_title: @font_size_extra_small;

// MARGINS and PADDINGS
@general_margin: 10px;
@general_padding: 10px;


// COMPONENTS
@main_row_height: 50px;

@text_bold: 600;
