<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>Category Name:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.name" required>
  </mat-form-field>
  <p>Percent of Category:</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.percent" required type="number">
  </mat-form-field>
  <p>Description of Category:</p>
  <mat-form-field>
    <textarea matInput placeholder="Description" [(ngModel)]="data.description"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Add</button>
</div>
