<!--{{data.title}}-->
<section class="visualize">
  <header class="visualize_header">
    <h1 class="visualize_header_title">{{data.title}}</h1>
    <span class="visualize_header_close" (click)="close()">&#10005;</span>
  </header>
  <nav class="visualize_tabs">
    <span (click)="setActiveTab('byCurrency')">By Currency</span>
    <span (click)="setActiveTab('byDate')">By Date</span>
  </nav>
  <div  *ngIf="isByCurrencyActive" class="visualize_currency">
    das
    <app-pie-chart class="visualize_currency-pie" [data]="pieData"></app-pie-chart>
  </div>


  <div class="visualize_data" *ngIf="isByDateActive">
    das
  </div>
</section>
