<!--{{data.title}}-->
<section class="visualize">
  <header class="visualize_header">
    <h1 class="visualize_header_title">{{data.title}}</h1>
    <span class="visualize_header_close" (click)="close()">&#10005;</span>
  </header>
  <nav class="visualize_tabs">
    <!--Should to be circe diagram-->
    <span (click)="setActiveTab('byCurrency')">By Currency</span>
    <!--range for each day with 3 different color in Column-->
    <span (click)="setActiveTab('byDate')">By Date</span>
  </nav>
  <div class="visualize_currency" *ngIf="isByCurrencyActive">currency</div>
  <div class="visualize_data" *ngIf="isByDateActive">data</div>
</section>
