@import '../../styles/constants';

.visualize{
  padding: @general_padding;
  height: 100%;

  &_header{
    display: flex;
    justify-content: space-between;

    &_close{
      cursor: pointer;
    }
  }

  &_tabs{
    cursor: pointer;
  }

  &_currency{
    width: 100%;
    height: 100%;

    &-pie{
      width: 100%;
      height: 100%;
    }
  }
}
